:root {
  --color-green-primary: #32E62B;
  --color-background: #3B3942;
  --margin-bottom-primary: 6rem;
  --margin-bottom-section: 15vh;
}

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-green-primary);
}

html {
  font-family: "Share Tech Mono", monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-green-primary);
}

a:active, a:visited, a:link {
  color: var(--color-green-primary);
  list-style: none;
  text-decoration: none;
}

.container {
  width: 75%;
  margin: 5vh auto;
}

.heading {
  font-family: "VT323", monospace;
  font-size: 5rem;
}

p {
  font-size: 2rem;
  line-height: 4.5rem;
}

.hover {
  --b: 0.1em; /* the thickness of the line */
  --c: #1095c1; /* the color */
  color: rgba(0, 0, 0, 0);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, var(--color-green-primary) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.2s var(--_s, 0s) linear, background-size 0.2s calc(0.2s - var(--_s, 0s));
}

.hover:hover {
  --_p: 100%;
  --_s: .3s;
}

.hidden {
  opacity: 0;
  filter: blur(6px);
  transform: translateX(-100%);
  transition: all 1.5s cubic-bezier(0.64, 0.8, 0.17, 1.1);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.nav {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 10rem;
}
.nav-list {
  display: flex;
}
.nav-list :not(:last-child) {
  margin-right: 3rem;
}
.nav-link:active, .nav-link:visited, .nav-link:link {
  color: var(--color-green-primary);
}
.nav-item {
  list-style: none;
  font-size: 2.5rem;
}

@keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-green-primary);
  }
}
@keyframes grow-down {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes grow-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: translate3d(-1%, -1%, 1px) scale(1);
  }
  50% {
    transform: translate3d(-1%, -1%, 1px) scale(1.07);
  }
  100% {
    transform: translate3d(-1%, -1%, 1px) scale(1);
  }
}
.header-container {
  height: 85vh;
  position: relative;
  margin-bottom: 15vh;
}
.header-textbox {
  margin-bottom: 1rem;
}
.header-heading {
  font-size: 5rem;
  overflow: hidden;
}
.header-heading--top {
  display: block;
  margin-bottom: 2rem;
  animation-duration: 1s;
  animation-name: slidein-left;
}
.header-heading--bottom {
  display: flex;
  max-width: min-content;
  opacity: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding-right: 1rem;
  border-right: 0.1em solid var(--color-green-primary); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation-delay: 1s;
  animation: typing 3.5s steps(40, end) 1s, blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}
.header-bottom {
  display: flex;
  height: 25rem;
  width: 0;
  animation: grow-right 1s ease-in forwards 3s;
}
.header-bottom-textbox {
  background-color: aqua;
  position: relative;
}
.header-bottom--text {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  bottom: -1.25rem;
  opacity: 0;
  animation: appear 0.2s ease 4s forwards, pulse 2s infinite;
}

.line-left {
  display: inline-block;
  width: 2rem;
  border-left: 0.5rem solid var(--color-green-primary);
  height: 0;
  animation: grow-down 1s ease-out 2s forwards;
}

.line-bottom {
  display: inline-block;
  border-bottom: 0.5rem solid var(--color-green-primary);
  width: 40vw;
  margin-right: 3rem;
  position: relative;
}

.svg-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 1s ease;
}
.svg-box-1 {
  margin-bottom: 10rem;
}

.svg-down {
  height: 2rem;
  fill: var(--color-green-primary);
  cursor: pointer;
  position: absolute;
  bottom: 6rem;
}

.svg-down-1 {
  opacity: 0;
  animation: appear 1s ease 4.5s forwards;
}

.svg-right {
  fill: var(--color-green-primary);
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: -2rem;
  bottom: -1.25rem;
  transform: rotate(-90deg);
  opacity: 0;
  animation: appear 0.2s ease 3s forwards;
}

.about {
  min-height: 85vh;
  margin-bottom: var(--margin-bottom-section);
}
.about-heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
}
.about-contentbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.about-contentbox--left {
  width: 60%;
}
.about-contentbox--right {
  background-color: greenyellow;
  width: 30rem;
  aspect-ratio: 5/6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.5);
}
.about-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.about-text {
  font-size: 2rem;
}
.about-text-p {
  line-height: 4.5rem;
}
.about-innerbox {
  display: flex;
}
.about-innerbox--left--line {
  border-left: 0.2rem solid var(--color-green-primary);
  width: 2rem;
  margin-right: 5rem;
}
.about-innerbox--bottom-line {
  border-bottom: 0.2rem solid var(--color-green-primary);
  width: 100%;
  height: 5rem;
}
.about-innerbox--right {
  display: flex;
  flex-direction: column;
}

.photo-me {
  background-image: url(../../assets/elijah.png);
  height: 100%;
  background-size: cover;
  background-position: top;
}

.svg-box-2 {
  position: relative;
}

.svg-down-2 {
  bottom: -10rem;
}

.my-work__heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: var(--margin-bottom-primary);
}
.my-work__project {
  display: flex;
  justify-content: space-between;
}
.my-work__project-pic {
  background-color: greenyellow;
  height: 20rem;
  width: 40rem;
}
.my-work__project-text {
  padding: 5rem;
}

/*# sourceMappingURL=styles.css.map */
