.about {
  //min-height: 85vh;
  min-height: var(--section-min-height);
  margin-bottom: var(--margin-bottom-section);

  &-heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;


  }

  &-contentbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;



    &--left {
      width: 60%;
      margin-right: 1.5rem;

      @media screen and (max-width: 1101px) {
       width: 100%;
      }
    }

    &--right {
      background-color: greenyellow;
      width: 30rem;
      aspect-ratio: 5/6;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1.5rem 1.5rem rgb(black, .5);
      margin-right: 1.5rem;
    }
  }

  &-title {
    font-size: 3rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 425px) {
      font-size: 2.25rem;
    }
  }

  &-text {
    font-size: 2rem;



    &-p {
        line-height: 4.5rem;

        @media screen and (max-width: 425px) {
          font-size: 1.6rem;
        }
    }
  }

  &-innerbox {

    @media screen and (max-width: 1101px) {
      margin-bottom: 5rem;
    }
  }

  //INNER SECTION
  &-innerbox {
    display: flex;

    &--left--line {
        border-left: .2rem solid var(--color-green-primary);
        width: 2rem;
        margin-right: 5rem;

        @media screen and (max-width: 1101px) {
          margin-right: 2.5rem;
         }

    }

    &--bottom-line {
        border-bottom: .2rem solid var(--color-green-primary);
        width: 90%;
        height: 2.75rem;

    }

    &--right {
        display: flex;
        flex-direction: column;
    }

  }
}


.photo-me {
  background-image: url(../../assets/elijah.png);
  height: 100%;
  background-size: cover;
  background-position: top;
}

.svg-box-2 {
  position: relative;
}


//TECH USED 

.tech-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 6rem 0;
}

.tech-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 8rem);
  justify-content: center;
  gap: 2rem;
}

.tech {
  position: relative;
}

//SVGs
.svg-tech {
  height: 7rem;
  display: block;
  margin: 0 auto;
  transition: all .2s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }

}

.svg-express {
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.15);
  }
}

.resume-btn {
  width: max-content;
  margin: 0 auto;
  font-size: 2rem;
}