

.my-work {
    min-height: var(--section-min-height);
    margin-bottom: var(--margin-bottom-section);

    &__heading {
        font-size: 4rem;
        text-align: center;
        margin-bottom: var(--margin-bottom-primary);
    }

    &-main {

    }

    &__project {
        border-bottom: 2px solid var(--color-green-primary);
        min-height: 40rem;
        margin-bottom: 3.5rem;

        &--heading {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
            text-decoration: underline dotted;
        }

        &-pic{
            background-image: url(../../assets/up.png);
            object-fit: cover;
            width: 43rem;
            aspect-ratio: 5/3.5;
            border-radius: 5px;
            float: left;
            margin-right: 4rem;
            box-shadow: 0 .5rem 1rem var(--color-green-primary);
            transition: all .2s ease;

            @media screen and (max-width: 900px) {
                float: none !important;
                margin: 0 auto !important;
                width: 30rem;
                background-size: cover;
            }

            @media screen and (max-width: 570px) {
                transform: scale(.7);
                &:hover {
                    transform: scale(.8) skew(0.01turn, -2deg) !important;
                }
                
            }

            &:hover {
                transform: scale(1.05) skew(0.01turn, -2deg);
            }

            &--sk8mate {
                background-image: url(../../assets/sk8mate.png);
                background-size: cover;
                float: right;
                margin-right: 0; 
                margin-left: 3rem;
            }

            &--mulch {
                background-image: url(../../assets/mulchbucket.png);
                background-size: cover;
            }
        }

        &-text {
            margin: 4rem 0;
            
            @media screen and (max-width: 900px) {
                text-align: center;
            }

            p {
                @media screen and (max-width: 570px) {
                    font-size: 1.75rem;
                    
                }
            }
        }

    }

    &__link {

        &:visited,
        &:link,
        &:active {
            text-decoration: underline;
        }
        
    }
}

