.svg-down {
    height: 2rem;
    fill: var(--color-green-primary);
    cursor: pointer;
    width: 100%;
    margin-bottom: var(--margin-bottom-primary);
  }

  .svg-down-1 {
    position: absolute;
    bottom: 11rem;
    margin: 0;
  }
