@keyframes slidein-left {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

      /* The typing effect */
      @keyframes typing {
        0% {
          width: 0
        }
  
        10% {
          opacity: 1;
        }
  
        100% {
          width: 100%;
          opacity: 1;
        }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent;}
        50% { border-color: var(--color-green-primary); }
      }

      //Line animation
      @keyframes grow-down {
        from {height: 0;}
        to {height: 100%;}
      }

      @keyframes grow-right {
        from {width: 0;}
        to {width: 100%;}
      }

      @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      @keyframes pulse {
        0% {
          transform: translate3d(-1%, -1%, 1px) scale(1);
        }

        50% {
          transform: translate3d(-1%, -1%, 1px) scale(1.07);
        }

        100% {
          transform: translate3d(-1%, -1%, 1px) scale(1);
        }
      }


      //Animations on Header Section
      // 1. .header-heading--top: duration 1s
      // 2. .header-heading--bottom: duration 3.5s
      // 3. .line-left: duration: 2s
